
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: rgb(251, 255, 253);
}
.container{
    padding: 2rem;
    width: 50%;
    margin: 4rem auto;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
    font-family: Reddit Mono , sans-serif;
    font-size: 36px;
}
form{
    text-align: center;
    margin-bottom: 2rem;

}
form .inp{
    padding: 10px 18px;
    width: 50%;
    margin: 0px 0.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 0;
    outline: none;
    border-radius: 5px;
}
form .btn{
    padding: 10px 12px;
   background-color: rgb(15, 161, 29);
   border: 0;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s;
   font-family: Reddit Mono , sans-serif;
   font-weight: 500;

}
form .btn:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.item{
    display: flex;
    width: 58%;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: Reddit Mono , sans-serif;
    font-weight: 600;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.item-inp{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-icon{
    display: flex;
    align-items: center;
    gap: 1rem
}
.line-through {
    position: relative;
    display: inline-block;
  }
  
  .line-through::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%; /* Center the line vertically */
    border-top: 2px solid black; /* Adjust the thickness and color */
    transform: rotate(-5deg); /* Optional: Slightly tilt the line for styling */
  }
  /* .hidden{
    display: none;
  } */

  @media screen and (max-width:700px){
    .container{
        width: 70%;
    }
    .item {
        width: 68%;
    }
  }
  @media screen and (max-width:600px){
    .container{
        width: 80%;
    }
    .item {
        width: 78%;
    }
    form .inp{
        width: 60%;
    }
  }
  @media screen and (max-width:500px){
    .container{
        width: 100%;
    }
    .item {
        width: 88%;
    }
    form .inp{
        width: 60%;
    }
  }
